<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-image: url("https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
            background-position: center;
            background-size: cover;
        }
        .vertical-center {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
</head>

<body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                    <li class="nav-item">
                        <% if (currentUser) { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } else { %>
                        <a class="nav-link" href="/login">Login</a>
                        <% } %>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="vertical-center">
       <div class="text-center">
            <h1 class="display-5 text-light">Welcome to, <strong>YelpCamp</strong></h1>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quibusdam debitis corporis quisquam explicabo <br>
                quia earum placeat libero accusamus illo suscipit,quis deserunt id? Consectetur <br> rerum quibusdam quas
                asperiores quaerat.</p>
                <a href="/campgrounds" class="btn btn-success btn-lg">Campgrounds</a>
                <a href="/register" class="btn btn-outline-primary btn-lg">Sign up</a>
       </div>
    </div>
    <%- include("./partials/footer") %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
        crossorigin="anonymous"></script>
</body>

</html>